@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  -webkit-animation: bodyAnimation 5s;
          animation: bodyAnimation 5s;
  background: black;
}

@-webkit-keyframes bodyAnimation {
  from {
    background: white;
  }
  to {
    background: black;
  }
}

@keyframes bodyAnimation {
  from {
    background: white;
  }
  to {
    background: black;
  }
}

body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  opacity: 0.85;
  z-index: -1;
}

.App {
  width: 320px;
  padding: 10px 20px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  color: white;
}

@media (max-width: 360px) {
  .App {
    width: 100%;
  }
}

.App form .intervals {
  margin: 10px 0;
}

.App form .intervals input {
  padding: 5px 10px;
  border: 3px solid black;
}

.App form .intervals input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px deepskyblue;
          box-shadow: 0 0 5px deepskyblue;
}

.App form .timing {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App form .timing section {
  border: 3px solid black;
  width: 40%;
}

.App form .timing section.timing-rest label {
  background: -webkit-gradient(linear, left top, left bottom, from(green), color-stop(#00cd00), to(green));
  background: linear-gradient(green, #00cd00, green);
}

.App form .timing section.timing-work label {
  background: -webkit-gradient(linear, left top, left bottom, from(red), color-stop(#b30000), to(red));
  background: linear-gradient(red, #b30000, red);
}

.App form .timing section label {
  display: block;
  width: 100%;
  padding: 5px 10px;
  text-shadow: 1px 2px 3px #333;
}

.App form .timing section label span {
  font-size: 16px;
}

.App form .timing section input {
  padding: 5px 10px;
}

.App form .timing section input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px deepskyblue;
          box-shadow: 0 0 5px deepskyblue;
}

.App form .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App form .sounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App form .sounds input {
  width: 20px;
  height: 20px;
}

.App form .start {
  margin: 20px 0;
  text-align: center;
}

.App form .start button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  text-shadow: 1px 2px 3px #333;
  background: -webkit-gradient(linear, left top, left bottom, from(deepskyblue), color-stop(#007399), to(deepskyblue));
  background: linear-gradient(deepskyblue, #007399, deepskyblue);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App form .start button:hover {
  border-radius: 8px;
}

.App form .start button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px deepskyblue;
          box-shadow: 0 0 5px deepskyblue;
}

.App .remaining-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .status {
  text-align: center;
  font-size: 36px;
  padding: 10px 0;
}

.App .status.white {
  color: white;
}

.App .status.green {
  color: #00b300;
}

.App .status.red {
  color: red;
}

.App .progress {
  margin: 10px 0;
  border: 3px solid black;
  position: relative;
  height: 12px;
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .progress .bar.rest {
  background: -webkit-gradient(linear, left top, left bottom, from(deepskyblue), to(#66d9ff));
  background: linear-gradient(deepskyblue, #66d9ff);
}

.App .progress .bar.work {
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#ff3333));
  background: linear-gradient(red, #ff3333);
}

.App .progress .ball {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid white;
  background: black;
}

@-webkit-keyframes pushBall {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes pushBall {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes ball {
  from {
    background: green;
  }
  to {
    background: red;
  }
}

@keyframes ball {
  from {
    background: green;
  }
  to {
    background: red;
  }
}
